# OpenAI API
OPENAI_API_KEY = "your_openai_api_key"
HR_ASSISTANT_ID_DEV_DAY = "your_hr_assistant_id"

# Azure SQL
AZURE_SQL_SERVER = "your_azure_sql_server"
AZURE_SQL_DATABASE = "your_azure_sql_database"
AZURE_SQL_USERNAME = "your_azure_sql_username"
AZURE_SQL_PASSWORD = "your_azure_sql_password"

# Azure OpenAI embedding model
EMBEDDING_MODEL_NAME = "your_embedding_model_name"
EMEBEDDING_MODEL_DEPLOYMENT_NAME = "your_embedding_model_deployment_name"
SEARCH_INDEX_NAME = "your_search_index_name"

# Retrieval algorithm
RAG_RETRIEVAL_ALGORITHM = "your_rag_retrieval_algorithm"

# Azure Cognitive Search vector db
AZURE_SEARCH_SERVICE_ENDPOINT = "your_azure_search_service_endpoint"
AZURE_SEARCH_ADMIN_KEY = "your_azure_search_admin_key"

# SAP HR API
SAP_HR_API_CLIENT_ID = "your_sap_hr_api_client_id"
SAP_HR_API_CLIENT_SECRET = "your_sap_hr_api_client_secret"
BU_SAP_SYSTEM_ID = "your_bu_sap_system_id"

# ServiceNow API
SERVICENOW_API_CLIENT_ID = "your_servicenow_api_client_id"
SERVICENOW_API_CLIENT_SECRET = "your_servicenow_api_client_secret"
